.move{
    margin:20px;
    width:20px;
    height:20px;
    position:relative;
    animation:repeatit 15s linear 0s infinite alternate;
}
@keyframes repeatit{
    from {left:0%;}
    to{left:100%;}
}



@media screen and (min-width:550px){
    body{
        background-color:aqua;
    }
}

/* Tablet */
@media screen and (min-width:700px) 
and (max-width:1080px){
    body{
        background-color:black;
    }
}
/* Desktop and laptop */
@media screen and (min-width:1150px){
   body{
     background-color:rgb(120,100,255);
     color:black;
    }
}

.logo{
    float:left;
}
nav{
    background-color:rgb(240, 98, 224);
    color:azure;
    padding:20px;
}
nav ul{
    list-style-type: none;
    margin:0;
    padding:3px;
}
nav ul li{
    display:inline;
    margin-right: 20px;
}
nav ul li a{
    color:black;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration:underline;
}

h3{
    
   
    text-shadow:5px 10px 4px rgb(208, 110, 202),10px 3px 5px rgb(139, 116, 235);
}
p{
    color:red;
}
h2{
    color:rgb(158, 70, 241);
}
table{
    color:rgb(86, 75, 241);
    font-family:Arial, Helvetica, sans-serif;
}
div{
    border: 5px solid rgb(143,56,43);
    background-color:rgb(153, 245, 205);
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}
footer{
    background-color:rgb(240, 98, 225);
    color:brown;
    text-align:center;
    padding:10px 0;
}